
BERTovoSENTPOS6/
Tanor/BERTic_6_POS/
SRGPTTestPOS/
BERTicSENTPOS0/
BERTovoSENTPOS0/
BERTovoSENTNEG0/
BERTicSENTNEG0/
SRGPTSENTNEG0/
BERTovoSENTPOS4/
BERTovoSENTPOS2/
BERTovoSENTNEG6/
BERTovoSENTNEG4/
BERTovoSENTNEG2/
BERTicSENTPOS6/
BERTicSENTPOS4/
BERTicSENTPOS2/
BERTicSENTNEG6/
BERTicSENTNEG4/
BERTicSENTNEG2/
SRGPTSENTPOS0/
SRGPTSENTNEG2/
SRGPTSENTPOS2/
SRGPTSENTPOS4/
SRGPTSENTNEG4/
ORAOFROZENPOS0/
/Jerteh355SENTNEG0
/Jerteh355SENTNEG2
/Jerteh355SENTPOS0
/Jerteh355SENTPOS2
/Jerteh355SENTNEG4
/Jerteh355SENTNEG6
/Jerteh355SENTPOS4
/Jerteh355SENTPOS6
resources/wnsrp30.xml
